<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Difference</title>

    <!--? DISCORD EMBED METADATA ---------------------------------------------------------------------------------------------------------------------- -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Difference in Hypixel Levels" />
    <meta property="og:description" content="Calculate the difference between AmKale, DSNS, and jiebi's Hypixel Levels." />
    <meta property="og:url" content="https://adamsai.com/difference" />
    <meta property="og:image" content="https://adamsai.com/static/images/pfp.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="https://adamsai.com/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://adamsai.com/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://adamsai.com/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://adamsai.com/static/favicon/site.webmanifest">

    <style>
        .row {
            display: flex;
        }

        .column {
            text-align: center;
            flex: 50%;
            padding: 8px;
        }

        p {
            font-size: 5vw;
        }

        h1 {
            font-size: 2vw;
        }

        h2 {
            font-size: 2vw;
            text-align: center;
        }

        main {
            font-family: monospace;
        }

        .bordersection {
            border-right: 1px solid #aaa;
        }
    </style>


    <!--? JS ---------------------------------------------------------------------------------------------------------------------- -->

    <script type="text/javascript">
        window.setTimeout(function () { document.location.reload(true); }, Number(<%= reloadTime %>));
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<!--? BACK BUTTON TO adamsai.com ---------------------------------------------------------------------------------------------------------------------- -->
<nav>
    <script src="https://kit.fontawesome.com/8b8f2eda4a.js" crossorigin="anonymous"></script>
    <style>
        #backNav {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            border: solid;
        }

        #navlink {
            text-decoration: none;
            font-size: 30px;
            color: black;
        }
    </style>


    <button id="backNav">
        <a id="navlink" href="/"><i class="fas fa-arrow-left"></i></a>
    </button>

</nav>

<!--? MAIN CONTENT ---------------------------------------------------------------------------------------------------------------------- -->

<body>
    <main>

        <div class="row">
            <div class="column bordersection">

                <h1>The Difference Between DSNS and AmKale</h1>
                <p>
                    <%= differenceAmKale; %>
                </p>

                <div id="AmKale_chart" style="height: 500px"></div>
            </div>


            <div class="column">
                <h1>The Difference Between DSNS and jiebi</h1>
                <p>
                    <%= differenceJiebi; %>
                </p>

                <div id="jiebi_chart" style="height: 500px"></div>
            </div>
        </div>

        <center>
            <h1>The Difference Between jiebi and AmKale</h1>
            <p id="jiebiAmkale"></p>
        </center>

        <hr>

        <h2>
            Last updated: <%= date; %>
        </h2>

        <div id="statusDiv"></div>
        
    </main>

</body>

<!--? LOADING CHART JS ---------------------------------------------------------------------------------------------------------------------- -->
<script type="text/javascript">
    const round = (number, decimalPlaces) => {
        const factorOfTen = Math.pow(10, decimalPlaces);
        return Math.round(number * factorOfTen) / factorOfTen;
    };


    const jiebiAmkale = document.getElementById("jiebiAmkale")
    jiebiAmkale.innerHTML = round(<%- differenceJiebi; %> - <%- differenceAmKale; %>, 3)

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawAmKaleChart);
    google.charts.setOnLoadCallback(drawJiebiChart);

    function drawAmKaleChart() {
        var data = google.visualization.arrayToDataTable(<%- AmKaleGraphArray %>);

        var options = {
            title: "Graph of the difference between AmKale and DSNS's levels",
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('AmKale_chart'));

        chart.draw(data, options);
    }

    function drawJiebiChart() {
        var data = google.visualization.arrayToDataTable(<%- jiebiGraphArray %>);

        var options = {
            title: "Graph of the difference between jiebi and DSNS's levels",
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('jiebi_chart'));

        chart.draw(data, options);
    }

</script>

<!--? LOADING STATUS JS ---------------------------------------------------------------------------------------------------------------------- -->
<script>
    const baseURL = "https://api.slothpixel.me/api/players/";

    async function getStatus(playerName) {
        let response = await fetch(`${baseURL}${playerName}/status`).then((response) => response.json());

        if (response["online"]) {
            if (response["game"]["mode"] == null) {
                return `${playerName} is online. They are playing ${response["game"]["type"]}.`;
            } else {
                return `${playerName} is online. They are playing ${response["game"]["mode"]} ${response["game"]["type"]}.`;
            }
        } else {
            return `${playerName} is offline`;
        }
    }

    async function getRecentGame(playerName) {
        let response = await fetch(`${baseURL}${playerName}/recentGames`).then((response) => response.json());

        if (response[0]) {
            const time = new Date(response[0]["date"]).toLocaleDateString("en-US", {
                hour: "numeric",
                minute: "numeric",
                hour12: true
            });
            if (response[0]["mode"] == null) {
                return `${playerName} played ${response[0]["gameType"]} at ${time}.`;
            } else {
                return `${playerName} played ${response[0]["mode"]} ${response[0]["gameType"]} at ${time}.`;
            }
        } else {
            return `${playerName} has not played Hypixel in 3 days.`;
        }
    }

    async function run(usernames) {
        let statusDiv = document.getElementById("statusDiv");
        statusDiv.style.visibility = "hidden";

        for (var i of usernames) {
            const status = await getStatus(i);
            const recentGame = await getRecentGame(i);
            statusDiv.innerHTML = statusDiv.innerHTML + status;
            statusDiv.innerHTML = statusDiv.innerHTML + "<br>";
            statusDiv.innerHTML = statusDiv.innerHTML + recentGame;
            statusDiv.innerHTML = statusDiv.innerHTML + "<br><br>";
        }
        statusDiv.innerHTML = statusDiv.innerHTML + `<style>#statusDiv {font-size: 40px; font-family: monospace; margin: 20px; text-align: center;}`;
        statusDiv.style.visibility = "visible";
    }

    run(["DSNS", "jiebi", "Retsed", "AmKale", "LonelySouls", "Node13", "KDMCC123"]);

</script>

</html>